!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => 'Content-Type' }
  %body
    %h1= "IeDA HQ - API - Incoming - #{@sender}"

    %p
      %b= t('api_notification.received_data')
      %br
      = @data

    %p
      %em= t('api_notification.disclaimer')