!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => 'Content-Type' }
	%body
		%h1= t('notifications.facility.subject')
		
		%p
			%b= "#{t('notifications.facility.facility_name')}:"
			%a{href: facility_url(id: @followup.facility.id, locale: I18n.locale)}= @followup.facility.name
		%p
			%b= "#{t('activerecord.attributes.facility_followup.follow_up_on')}:"
			= @followup.follow_up_on
		%p
			%b= "#{t('activerecord.attributes.facility_followup.user_id')}:"
			= @followup.user.name
		%p
			%b= "#{t('activerecord.attributes.facility_followup.description')}:"
			!= RedCloth.new(@followup.description).to_html

		%p
			%em= t('notifications.disclaimer')