!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => 'Content-Type' }
	%body
		%h1= t('notifications.hardware.subject')
		
		%p
			%b= "#{t('notifications.hardware.hardware_code')}:"
			%a{href: hardware_url(id: @followup.hardware.id, locale: I18n.locale)}= @followup.hardware.code		
		%p
			%b= "#{t('activerecord.attributes.hardware_followup.followup_on')}:"
			= @followup.followup_on
		%p
			%b= "#{t('activerecord.attributes.hardware_followup.user_id')}:"
			= @followup.user.name
		%p
			%b= "#{t('activerecord.attributes.hardware_followup.description')}:"
			!= RedCloth.new(@followup.description).to_html
		%p
			%b= "#{t('activerecord.attributes.hardware.facility_id')}:"
			%a{href: facility_url(id: @followup.facility.id, locale: I18n.locale)}= @followup.facility.name
		%p
			%b= "#{t('activerecord.attributes.hardware.hardware_status_id')}:"
			= t("hardware_status.#{@followup.hardware_status.name}")
		%p
			%b= "#{t('activerecord.attributes.hardware.software_id')}:"
			= @followup.software.name

		%p
			%em= t('notifications.disclaimer')