= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{GMAPS_KEY}&sensor=false"
= javascript_include_tag "http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclusterer/1.0.2/src/markerclusterer.js"

%div.row
	.col-md-12
		%div.page-header
			%h1
				%i.fa.fa-dashboard
				= t('.title')

%div.row
	.col-md-9
		%div.page-header
			%h3
				%i.fa.fa-globe
				= t('.title_map')
		%div.thumbnail#map_dashboard
			
	.col-md-3
		%div.page-header
			%h3
				%i.fa.fa-flag
				= t('hardware_status.hardware_status_short')
		%div.row
			- HardwareStatus.all.order(:id).each do |hws|
				.col-md-12= render partial: "shared/model_property", locals: {bg_color: "status-#{hws.name}", icon: "", label: t("hardware_status.#{hws.name}"), value: Hardware.where(hardware_status_id: hws.id).count}

%div.row
	.col-md-9
		%div.page-header
			%h3
				%i.fa.fa-eye
				= t('latest_followups')
		%div.row
			- f_f = FacilityFollowup.order(follow_up_on: :desc).first
			- if f_f
				.col-md-6
					= render partial: "shared/model_property", locals: {bg_color: "", icon: "fa-hospital-o", label: t(".facility_follow_up"), value: ("#{link_to f_f.facility.name, f_f.facility} <em>#{t('on_date')} #{f_f.follow_up_on}</em>"), escape_html: true}
			- hw_f = HardwareFollowup.order(followup_on: :desc).first
			- if hw_f
				.col-md-6	
					= render partial: "shared/model_property", locals: {bg_color: "", icon: "fa-laptop", label: t(".hardware_follow_up"), value: ("#{link_to hw_f.hardware.code, hw_f.hardware} <em>#{t('on_date')} #{hw_f.followup_on}</em>"), escape_html: true}