= bootstrap_form_for(@user, style: :horizontal) do |f|
  = f.text_field :name
  = f.text_field :email
  = f.text_field :phone
  
  = hidden_field_tag "user[facility_ids][]", nil
  %div.form-group
    %label.control-label= t('activerecord.attributes.user.facility_ids')
    - Facility.roots.each do |root|
      %div.checkbox
        %label
          = check_box_tag "user[facility_ids][]", root.id, @user.facility_ids.include?(root.id)
          = root.name

  = f.select :role, options_for_select(role_options, @user.role), include_blank: true
  = f.password_field :password
  = f.password_field :password_confirmation
  = f.form_group do
    = f.check_box :notifications, label: t('activerecord.attributes.user.notifications_long')
  
  = f.form_group do
    = f.submit t('save')
    = link_to t('cancel'), @user.id ? @user : users_path


