%div.row
  %div.col-md-12
    %div.page-header
      %h1
        %i.fa.fa-users
        = t('.title')
        - if can? :manage, User
          = link_to_icon t('.link_new'), new_user_path, "fa fa-plus", class: "btn btn-success btn-xs"

%div.row
  %div.col-md-12
    %table.table
      %thead
        %tr
          %th= t('activerecord.attributes.user.name')
          %th= t('activerecord.attributes.user.phone')
          %th= t('activerecord.attributes.user.role')
          %th= t('activerecord.attributes.user.notifications')

      - @users.each do |user|
        %tr
          %td{class: user.access_locked? ? "locked-user" : ""}= link_to user.name, user
          %td= user.phone
          %td= t("roles.#{user.role}")
          %td
            %i.fa{class: user.notifications ? "fa-check-square-o" : "fa-square-o"}