%div.row
	%div.col-md-12
		%div.page-header
			%h1
				%i.fa.fa-user
				%span{class: @user.access_locked? ? "locked-user" : ""}= @user.name
				- if can? :manage, User
					= link_to_icon t('edit'), edit_user_path(@user), "fa fa-pencil", class: "btn btn-primary btn-xs"
					- if @user.is_destroyable? 
						= link_to_icon t('destroy'), @user, "fa fa-trash-o", class: "btn btn-danger btn-xs", :method => :delete, :data => { :confirm => t('are_you_sure') }
					- if @user.is_lockable?(current_user)
						- if @user.access_locked?
							= link_to_icon t('.unlock'), unlock_user_path(@user), "fa fa-unlock", class: "btn btn-warning btn-xs"
						- else
							= link_to_icon t('.lock'), lock_user_path(@user), "fa fa-lock", class: "btn btn-warning btn-xs"

%div.row
	%div.col-md-6= render partial: "shared/model_property", locals: {bg_color: "", icon: "fa-envelope", label: t('activerecord.attributes.user.email'), value: mail_to(@user.email) }
	%div.col-md-6= render partial: "shared/model_property", locals: {bg_color: "", icon: "fa-wrench", label: t('activerecord.attributes.user.role'), value: t("roles.#{@user.role}")}
  
	%div.col-md-6= render partial: "shared/model_property", locals: {bg_color: "", icon: "fa-phone", label: t('activerecord.attributes.user.phone'), value: @user.phone}
	%div.col-md-6= render partial: "shared/model_property", locals: {bg_color: "", icon: "fa-map-marker", label: t('activerecord.attributes.user.facility_ids'), value: @user.facilities.map(&:name).join(", ")}

	%div.col-md-6= render partial: "shared/model_property", locals: {bg_color: "", icon: "fa-calendar", label: t('activerecord.attributes.user.last_sign_in_at'), value: @user.last_sign_in_at}
	%div.col-md-6= render partial: "shared/model_property", locals: {bg_color: "", icon: "fa-globe", label: t('activerecord.attributes.user.last_sign_in_ip'), value: @user.last_sign_in_ip}

	%div.col-md-6= render partial: "shared/model_property", locals: {bg_color: "", icon: "fa-calendar", label: t('activerecord.attributes.user.current_sign_in_at'), value: @user.current_sign_in_at}
	%div.col-md-6= render partial: "shared/model_property", locals: {bg_color: "", icon: "fa-globe", label: t('activerecord.attributes.user.current_sign_in_ip'), value: @user.current_sign_in_ip}