%div.row
	%div.col-md-12
		%div.page-header
			%h1
				%i.fa.fa-question-circle
				= t('.title')

= bootstrap_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }, style: :horizontal) do |f|

	= f.hidden_field :reset_password_token

	= f.password_field :password, :autofocus => true, label: t('.password')
	= f.password_field :password_confirmation, label: t('.confirmation')
	
	= f.form_group do
		= f.submit t('.change_password')
		= render "devise/shared/links"
