%div.row
	%div.col-md-12
		%div.page-header
			%h1
				%i.fa.fa-question-circle
				= t('.title')

= bootstrap_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }, style: :horizontal) do |f|
	= f.email_field :email, :autofocus => true, label: t('.email')

	= f.form_group do
		= f.submit t('.send_reset_instructions')
		= render "devise/shared/links"
