%div#datatables_translations
  %span#sLengthMenu= t('datatables.sLengthMenu', assets: assets)
  %span#sLengthMenuFollowups= t('datatables.sLengthMenu', assets: followups)
  
  %span#sZeroRecords= t('datatables.sZeroRecords', asset: asset)
  %span#sZeroRecordsFollowup= t('datatables.sZeroRecords', asset: followup)
  
  %span#sInfo= t('datatables.sInfo')
  
  %span#sInfoEmpty= t('datatables.sInfoEmpty')
  
  %span#sInfoFiltered= t('datatables.sInfoFiltered', assets: assets)
  %span#sInfoFilteredFollowups= t('datatables.sInfoFiltered', assets: followups)
  
  %span#sNext= t('datatables.sNext')
  
  %span#sPrevious= t('datatables.sPrevious')
  
  %span#sSearch= t('datatables.sSearch')
