%div.modal.fade#textile_modal
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{type: "button", "data-dismiss" => "modal"}
          &times
        %h4.modal-title#myModalLabel
          = t('textile.title')
      %div.modal-body
        %table.table
          %tr.bg-info
            %th{colspan: "2"}= t('textile.fonts')
          %tr
            %td{width: "50%"} *Strong*
            %td{width: "50%"}
              %strong Strong
          %tr
            %td _Italic_
            %td
              %em Italic
          %tr
            %td +Underline+
            %td
              %ins Underline
          %tr
            %td -Deleted-
            %td
              %del Deleted
          %tr.bg-info
            %th{colspan: "2"}= t('textile.lists')
          %tr
            %td
              * Item 1
              %br>/
              ** Item 1.1
              %br>/
              ** Item 1.2
              %br>/
              * Item 2
            %td
              %ul
                %li Item 1
                %ul
                  %li Item 1.1
                  %li Item 1.2
                %li Item 2
          %tr
            %td
              \# Item 1
              %br>/
              \## Item 1.1
              %br>/
              \## Item 1.2
              %br>/
              \# Item 2
            %td
              %ol
                %li Item 1
                %ol
                  %li Item 1.1
                  %li Item 1.2
                %li Item 2
          %tr.bg-info
            %th{colspan: "2"}= t('textile.headings')
          %tr
            %td h3. Title 3
            %td
              %h3 Title 3
          %tr
            %td h4. Title 4
            %td
              %h4 Title 4
          %tr.bg-info
            %th{colspan: "2"}= t('textile.links')
          %tr
            %td http://ieda-project.org
            %td
              %a{href: "http://ieda-project.org"} http://ieda-project.org
          %tr
            %td "IeDA Project":http://ieda-project.org
            %td
              %a{href: "http://ieda-project.org"} IeDA Project