= bootstrap_form_for(@stakeholder, style: :horizontal) do |f|
  = f.text_field :name
  = f.select :stakeholder_group_id, options_for_select(StakeholderGroup.options_for_select,  @stakeholder.stakeholder_group_id), include_blank: true

  %div.form-group
    %label.col-sm-2.control-label= t('activerecord.attributes.stakeholder.influence')
    %div.col-sm-10.slider-container
      %div.slider{"data-field" => "influence"}
  
  %div.form-group
    %label.col-sm-2.control-label= t('activerecord.attributes.stakeholder.influence_target')
    %div.col-sm-10.slider-container
      %div.slider{"data-field" => "influence_target"}
              
  %div.form-group
    %label.col-sm-2.control-label= t('activerecord.attributes.stakeholder.interest')
    %div.col-sm-10.slider-container
      %div.slider{"data-field" => "interest"}
          
  %div.form-group
    %label.col-sm-2.control-label= t('activerecord.attributes.stakeholder.interest_target')
    %div.col-sm-10.slider-container
      %div.slider{"data-field" => "interest_target"}

  = f.hidden_field :influence, value: @stakeholder.id ? @stakeholder.influence : 1
  = f.hidden_field :interest, value: @stakeholder.id ? @stakeholder.interest : 1
  = f.hidden_field :influence_target, value: @stakeholder.id ? @stakeholder.influence_target : 1
  = f.hidden_field :interest_target, value: @stakeholder.id ? @stakeholder.interest_target : 1

  = f.form_group do
    = f.submit t('save')
    = link_to t('cancel'), stakeholders_path