%div.row
  %div.col-md-12
    %div.page-header
      %h1
        %i.fa.fa-book
        = @stakeholder.name
        = link_to_icon t('destroy'), @stakeholder, "fa fa-trash-o", class: "btn btn-danger btn-xs", :method => :delete, :data => { :confirm => t('are_you_sure') }

%div.row
  %div.col-md-12
    = render 'form'
