%div.row
  %div.col-md-12
    %div.page-header
      %h1
        %i.fa.fa-picture-o
        = t('.title')
        - if can? :manage, Stakeholder
          = link_to_icon t('.link_new'), new_stakeholder_path, "fa fa-plus", class: "btn btn-success btn-xs"

%div.row
  %div.col-md-9
    %div#sh_graph-container
      %div#sh_graph{style: "width: 100%; height: 500px;"}
  %div.col-md-3
    %span.sh-link-all.btn.btn-warning= t('.all_targets')
    - StakeholderGroup.order(:id).each_with_index do |shg, i_shg|
      - n = shg.stakeholders.count
      %h4= shg.name if n > 0
      - shg.stakeholders.order(:id).each_with_index do |sh, i_sh|
        %p
          - if can? :manage, Stakeholder
            = link_to sh.name, edit_stakeholder_path(sh), class: "sh-link btn btn-primary", "data-group-index" => i_shg, "data-point-index" => i_sh, title: "Edit"
          - else
            %span.sh-link.btn.btn-primary{"data-group-index" => i_shg, "data-point-index" => i_sh}= sh.name