%br
%div.panel.panel-default
  %div.panel-body.bg-success
    %i.fa.fa-filter
    = t('.filter_district')
    %div.btn-group
      %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown"}
        = @district.name
        %span.caret
      %ul.dropdown-menu{role: "menu"}
        - @roots.each do |r|
          %li= link_to r.name, facilities_url(district: r.id) if r != @district
      
%table.table#facilities_table{"data-source" => facilities_url(format: "json", district: params[:district])}
  %thead
    %tr
      %th= t('activerecord.attributes.facility.name')
      %th= t('activerecord.attributes.facility.population_total')
      %th= t('activerecord.attributes.facility.population_under_five')
      %th= t('last_follow_up')
      %th= t('n_hardware')
  %tbody    
    