= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{GMAPS_KEY}&sensor=false"

= bootstrap_form_for(@facility, style: :horizontal) do |f|
	= f.text_field :name
	= f.select :parent_id, options_from_collection_for_select(current_user.facilities, :id, :name, @facility.parent_id), include_blank: true
	= f.text_field :population_total
	= f.text_field :population_under_five
	= f.text_field :latitude
	= f.text_field :longitude
	= f.form_group do
		%div.panel.panel-primary
			%div.panel-heading
				%h4.panel-title
					%a#map_btn{"data-toggle" => "collapse", "href" => "#map_wrapper"}= t('facilities.form.show_map')
			%div.panel-collase.collapse#map_wrapper
				%div.panel-body
					%div#map_facility_form

	= f.form_group do
		= f.submit t('save')
		= link_to t('cancel'), @facility.id ? @facility : facilities_path