%div.row
	%div.col-md-12
		%div.page-header
			%h3
				%i.fa.fa-laptop
				= t('.title')
				%button.btn.btn-primary.btn-sm.pull-right#hw_list_btn{"data-toggle" => "collapse", "href" => "#hw_list"}
					%i.fa.fa-arrow-circle-up#hw_list_icon
		%div.collapse.in#hw_list
			%table.table.table-striped
				- facility.hardwares.each do |hw|
					%tr
						%td
							%div.row
								.col-md-3= render partial: "shared/model_property", locals: {bg_color: "alert-warning", icon: "fa-laptop", label: t('activerecord.attributes.hardware.code'), value: link_to(hw.code, hw)}
								.col-md-3= render partial: "shared/model_property", locals: {bg_color: "", icon: "fa-flag", label: t('activerecord.attributes.hardware.hardware_status_id'), value: t("hardware_status.#{hw.hardware_status.name}")}
								.col-md-3= render partial: "shared/model_property", locals: {bg_color: "", icon: "fa-code", label: t('activerecord.attributes.hardware.software_id'), value: hw.software.name}
								.col-md-3= render partial: "shared/model_property", locals: {bg_color: "", icon: "fa-eye", label: t('last_follow_up'), value: HardwareFollowup.date_last(hw)}