- action_links = [link_to_icon(t('edit'), edit_facility_facility_followup_path(ff.facility, ff), "fa fa-pencil", class: "btn btn-primary btn-xs"), link_to_icon(t('destroy'), [ff.facility, ff], "fa fa-trash-o", class: "btn btn-danger btn-xs", :method => :delete, :data => { :confirm => t('are_you_sure') })]

%div.row
  .col-md-3
    = render partial: "shared/model_property", locals: {bg_color: "alert-warning", icon: "fa-calendar", label: t('activerecord.attributes.facility_followup.follow_up_on'), value: ff.follow_up_on}
  .col-md-3
    = render partial: "shared/model_property", locals: {bg_color: "", icon: "fa-hospital-o", label: t('activerecord.attributes.facility_followup.facility'), value: link_to(ff.facility_name, ff.facility)}
  .col-md-3
    = render partial: "shared/model_property", locals: {bg_color: "", icon: "fa-user", label: t('activerecord.attributes.facility_followup.user_id'), value: ff.user_name}
  .col-md-3
    - if can? :manage, ff
      = render partial: "shared/action_links", locals: {bg_color: "", icon: "fa-code", label: "", links: action_links}
%div.row
  .col-md-12= render partial: "shared/model_property", locals: {bg_color: "", icon: "fa-info-circle", label: t('activerecord.attributes.facility_followup.description'), value: RedCloth.new(ff.description).to_html, escape_html: true}