%div.gmaps-info
	%div.row
		.col-md-12
			.page-header
				%h4
					- if facility.root?
						%i.fa.fa-home
					- else
						%i.fa.fa-hospital-o
					= facility.name
					= link_to_icon "", facility, "fa fa-arrow-circle-right", title: t('go_to_facility')
				
	
		.col-md-6
			%p
				%i.fa.fa-users
				%b= "#{t('activerecord.attributes.facility.population_total')}:"
				%br
				= facility.population_total

		.col-md-6
			%p
				%i.fa.fa-users
				%b= "#{t('activerecord.attributes.facility.population_under_five')}:"
				%br
				= facility.population_under_five

		.col-md-6
			%p
				%i.fa.fa-laptop
				%b= "#{t('n_hardware')}:"
				%br
				= facility.hardwares.count
		
		.col-md-6
			%p
				%i.fa.fa-eye
				%b= "#{t('last_follow_up')}:"
				%br
				= FacilityFollowup.date_last(facility)