%div.row
  %div.col-md-12
    %div.page-header
      %h1
        %i.fa.fa-hospital-o
        = t('.manage_facilities')
        - if can? :create, Facility
          = link_to_icon t('.link_new'), new_facility_path, "fa fa-plus", class: "btn btn-success btn-xs"
        - if can? :update_gps, Facility
          = link_to_icon t('.update_gps'), facilities_update_gps_path, "fa fa-map-marker", class: "btn btn-warning btn-xs"

%div.row
  %div.col-md-12
    %ul.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", href: "#facilities_list"}
          = t('.list_facilities')
      %li
        %a{"data-toggle" => "tab", href: "#latest_followups"}
          = t('.latest_followups')
          
    %div.tab-content
      %div.tab-pane.fade.in.active#facilities_list
        = render partial: "facilities_list"

      %div.tab-pane.fade#latest_followups
        = render partial: "latest_followups"

= render partial: "shared/datatables_translations", locals: {asset: t("datatables.facility"), assets: t("datatables.facilities"), followup: t("datatables.followup"), followups: t("datatables.followups")}