%div.row
	%div.col-md-12
		%div.page-header
			%h1
				%i.fa.fa-hospital-o
				= @facility.name
				- if can? :update, Facility
					= link_to_icon t('edit'), edit_facility_path(@facility), "fa fa-pencil", class: "btn btn-primary btn-xs"
					= link_to_icon t('destroy'), @facility, "fa fa-trash-o", class: "btn btn-danger btn-xs", :method => :delete, :data => { :confirm => t('are_you_sure') }

%div.row
	%div.col-md-6
		- if @facility.ancestry
			%div.row
				%div.col-md-12
					= render partial: "shared/model_property", locals: {bg_color: "", icon: "fa-home", label: t('activerecord.attributes.facility.parent_id'), value: @facility.parent.name}
		%div.row
			%div.col-md-6= render partial: "shared/model_property", locals: {bg_color: "", icon: "fa-users", label: t('activerecord.attributes.facility.population_total'), value: @facility.population_total || 0}
			%div.col-md-6= render partial: "shared/model_property", locals: {bg_color: "", icon: "fa-users", label: t('activerecord.attributes.facility.population_under_five'), value: @facility.population_under_five || 0}
			%div.col-md-6= render partial: "shared/model_property", locals: {bg_color: "", icon: "fa-compass", label: t('activerecord.attributes.facility.latitude'), value: @facility.latitude}
			%div.col-md-6= render partial: "shared/model_property", locals: {bg_color: "", icon: "fa-compass", label: t('activerecord.attributes.facility.longitude'), value: @facility.longitude}

	%div.col-md-6
		= image_tag "http://maps.googleapis.com/maps/api/staticmap?zoom=10&size=400x200&markers=#{@facility.latitude},#{@facility.longitude}&sensor=false&key=AIzaSyBLEWKx0sXyol82v5OlEO83_75VWl6dpq8", alt: "", class: "img-thumbnail"

= render partial: "hardware_list", locals: {facility: @facility}

= render partial: "facility_followups/index", locals: {facility: @facility}