%div.row
  %div.col-md-12
    %div.page-header
      %h1
        %i.fa.fa-map-marker
        = t('.title')

%div.row
  %div.col-md-12
    - if params[:coordinates].nil? or !@format_ok
      - if !@format_ok
        %div.alert.alert-danger= t(".format_error")
      %div.alert.alert-info!= RedCloth.new(t(".form_info")).to_html
      = form_tag("/#{I18n.locale}/facilities/update_gps", multipart: true) do
        .form-group
          %label.control-label{for: "coordinates"}= t('.file')
          = file_field_tag :coordinates
        .form-group
          = submit_tag t('.import'), class: "btn btn-default"
          = link_to t('cancel'), facilities_path
        
    - else
      %div.alert.alert-success= t(".import_success") 
      %table.table
        %tr
          %th Facility
          %th Latitude
          %th Longitude
        - @facilities_in_db.each do |f|
          %tr
            %td= link_to f.name, f
            %td= f.latitude
            %td= f.longitude