= bootstrap_form_for([@facility, @followup], style: :horizontal) do |f|    
  = f.text_field :follow_up_on, class: "datepicker"
  = f.text_area :description, label: t('activerecord.attributes.facility_followup.description_html')
  = f.hidden_field :user_id, value: current_user.id
  = f.form_group do
    = f.submit t('save')
    = link_to t('cancel'), facility_url(@facility)

= render partial: "shared/textile_helper"