%div.row
  %div.col-md-12
    %div.page-header
      %h3
        %i.fa.fa-eye
        = t('.title')
        - if can? :create, FacilityFollowup
          = link_to_icon t('.link_new'), new_facility_facility_followup_path(facility), "fa fa-plus", class: "btn btn-success btn-xs"
        %button.btn.btn-primary.btn-sm.pull-right#ff_list_btn{"data-toggle" => "collapse", "href" => "#ff_list"}
          %i.fa.fa-arrow-circle-up#ff_list_icon
    %div.collapse.in#ff_list
      %table.table.table-striped
        - facility.facility_followups.includes(:user).order(follow_up_on: :desc).each do |ff|
          - action_links = [link_to_icon(t('edit'), edit_facility_facility_followup_path(facility, ff), "fa fa-pencil", class: "btn btn-primary btn-xs"), link_to_icon(t('destroy'), [facility, ff], "fa fa-trash-o", class: "btn btn-danger btn-xs", :method => :delete, :data => { :confirm => t('are_you_sure') })]
          %tr
            %td
              %div.row
                .col-md-3
                  = render partial: "shared/model_property", locals: {bg_color: "alert-warning", icon: "fa-calendar", label: t('activerecord.attributes.facility_followup.follow_up_on'), value: ff.follow_up_on}
                .col-md-3
                  = render partial: "shared/model_property", locals: {bg_color: "", icon: "fa-user", label: t('activerecord.attributes.facility_followup.user_id'), value: ff.user.name}
                .col-md-3
                  - if can? :update, ff
                    = render partial: "shared/action_links", locals: {bg_color: "", icon: "fa-code", label: "", links: action_links}
              %div.row
                .col-md-12= render partial: "shared/model_property", locals: {bg_color: "", icon: "fa-info-circle", label: t('activerecord.attributes.facility_followup.description'), value: RedCloth.new(ff.description).to_html, escape_html: true}
          
          