= bootstrap_form_for([@hardware, @hardware_followup], style: :horizontal) do |f|
	= f.hidden_field :facility_id, value: @hardware_followup.facility_id
	= f.hidden_field :software_id, value: @hardware_followup.software_id
	= f.hidden_field :hardware_status_id, value: @hardware_followup.hardware_status_id
	= f.hidden_field :user_id, value: current_user.id
	= f.text_field :followup_on, class: "datepicker"
	= f.text_area :description, label: t('activerecord.attributes.hardware_followup.description_html')
	= f.form_group do	
		= f.submit 'Save'
		= link_to 'Cancel', hardware_url(@hardware)
    
= render partial: "shared/textile_helper"