%div.row
	%div.col-md-12
		%div.page-header
			%h3
				%i.fa.fa-eye
				= t('.title')
				- if can? :create, HardwareFollowup
					= link_to_icon t('.link_new'), new_hardware_hardware_followup_path(hardware), "fa fa-plus", class: "btn btn-success btn-xs"
				%button.btn.btn-primary.btn-sm.pull-right#hwf_list_btn{"data-toggle" => "collapse", "href" => "#hwf_list"}
					%i.fa.fa-arrow-circle-up#hwf_list_icon
		%div.collapse.in#hwf_list
			%table.table.table-striped
				- hardware.hardware_followups.includes(:user, :facility, :hardware_status, :software).order(followup_on: :desc).each do |ff|
					- action_links = [link_to_icon(t('edit'), edit_hardware_hardware_followup_path(hardware, ff), "fa fa-pencil", class: "btn btn-primary btn-xs"), link_to_icon(t('destroy'), [hardware, ff], "fa fa-trash-o", class: "btn btn-danger btn-xs", :method => :delete, :data => { :confirm => t('are_you_sure') })]
					%tr
						%td
							%div.row
								.col-md-3
									= render partial: "shared/model_property", locals: {bg_color: "alert-warning", icon: "fa-calendar", label: t('activerecord.attributes.hardware_followup.followup_on'), value: ff.followup_on}
									= render partial: "shared/model_property", locals: {bg_color: "", icon: "fa-user", label: t('activerecord.attributes.hardware_followup.user_id'), value: ff.user.name}
								.col-md-9= render partial: "shared/model_property", locals: {bg_color: "hwf-desc", icon: "fa-info-circle", label: "Description", value: RedCloth.new(ff.description).to_html, escape_html: true}
								.col-md-3= render partial: "shared/model_property", locals: {bg_color: "alert-info", icon: "fa-hospital-o", label: t('activerecord.attributes.hardware.facility_id'), value: ff.facility.name}
								.col-md-3= render partial: "shared/model_property", locals: {bg_color: "alert-info", icon: "fa-flag", label: t('activerecord.attributes.hardware.hardware_status_id'), value: t("hardware_status.#{ff.hardware_status.name}")}
								.col-md-3= render partial: "shared/model_property", locals: {bg_color: "alert-info", icon: "fa-code", label: t('activerecord.attributes.hardware.software_id'), value: ff.software.name}
								- if can? :update, ff
									.col-md-3= render partial: "shared/action_links", locals: {bg_color: "", icon: "fa-code", label: "Actions", links: action_links}
