%div#datatables_translations
  %span#sLengthMenuF= t('datatables.sLengthMenu', assets: t("datatables.facilities"))
  %span#sLengthMenuH= t('datatables.sLengthMenu', assets: t("datatables.hardwares"))

  %span#sZeroRecordsF= t('datatables.sZeroRecords', asset: t("datatables.facility"))
  %span#sZeroRecordsH= t('datatables.sZeroRecords', asset: t("datatables.hardware"))
  
  %span#sInfo= t('datatables.sInfo')
  
  %span#sInfoEmpty= t('datatables.sInfoEmpty')
  
  %span#sInfoFilteredF= t('datatables.sInfoFiltered', assets: t("datatables.facilities"))
  %span#sInfoFilteredH= t('datatables.sInfoFiltered', assets: t("datatables.hardwares"))
  
  %span#sNext= t('datatables.sNext')
  
  %span#sPrevious= t('datatables.sPrevious')
  
  %span#sSearch= t('datatables.sSearch')
