= bootstrap_form_for(@software, style: :horizontal) do |f|
	= f.text_field :name
	= f.text_area :description, label: t('activerecord.attributes.software.description_html')
	= f.text_field :released_on, class: "datepicker"
	= f.form_group do
		= f.submit t('save')
		= link_to t('cancel'), @software.id ? @software : softwares_path

= render partial: "shared/textile_helper"