%div.row
  %div.col-md-12
    %div.page-header
      %h3
        %i.fa.fa-laptop
        = t('.title')
    %ul.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", href: "#software_hardware_list"}
          = t('.list_hardware')
          %span.badge= software.hardwares.count
      %li
        %a{"data-toggle" => "tab", href: "#software_facilities_list"}
          = t('.list_facilities')
          %span.badge= software.facilities.distinct.count
      %li
        %a{"data-toggle" => "tab", href: "#software_facilities_map"}= t('.map_facilities')
      %li
        %a{"data-toggle" => "tab", href: "#software_status_stats"}= t('.status_statistics')
        
    %div.tab-content
      %div.tab-pane.fade.in.active#software_hardware_list
        %br
        %table.table.table-striped#software_hardware_table
          %thead
            %th
          - software.hardwares.includes(:facility, :hardware_status).each do |hw|
            %tr
              %td
                %div.row
                  .col-md-3= render partial: "shared/model_property", locals: {bg_color: "alert-warning", icon: "fa-laptop", label: t('activerecord.attributes.hardware.code'), value: link_to(hw.code, hw)}
                  .col-md-3= render partial: "shared/model_property", locals: {bg_color: "", icon: "fa-hospital-o", label: t('activerecord.attributes.hardware.facility_id'), value: hw.facility.name}
                  .col-md-3= render partial: "shared/model_property", locals: {bg_color: "", icon: "fa-flag", label: t('activerecord.attributes.hardware.hardware_status_id'), value: t("hardware_status.#{hw.hardware_status.name}")}
                  .col-md-3= render partial: "shared/model_property", locals: {bg_color: "", icon: "fa-eye", label: t('last_follow_up'), value: HardwareFollowup.date_last(hw)}

      %div.tab-pane.fade#software_facilities_list
        %br
        %div.well.well-sm= t('.facility_diff_hardware')
        %table.table.table-striped#software_facilities_table
          %thead
            %th
          - software.facilities.distinct.each do |f|
            - count = f.hardwares.count
            - w_count = f.hardwares.where(software_id: software.id).count
            - bg_color = count == w_count ? "alert-warning" : "alert-danger"
            %tr
              %td
                %div.row
                  .col-md-3= render partial: "shared/model_property", locals: {bg_color: bg_color, icon: "fa-hospital-o", label: t('activerecord.attributes.hardware.facility_id'), value: link_to(f.name, f)}
                  .col-md-3= render partial: "shared/model_property", locals: {bg_color: "", icon: "fa-laptop", label: t('.hardware_with_software'), value: w_count}
                  .col-md-3= render partial: "shared/model_property", locals: {bg_color: "", icon: "fa-laptop", label: t('n_hardware'), value: count}
                  .col-md-3= render partial: "shared/model_property", locals: {bg_color: "", icon: "fa-eye", label: t('last_follow_up'), value: FacilityFollowup.date_last(f)}
      %div.tab-pane.fade#software_facilities_map
        %br
        %div.row
          .col-md-8.col-md-offset-2.text-center
            = image_tag "http://maps.googleapis.com/maps/api/staticmap?size=500x350&markers=#{gmap_facility_markers(software)}&sensor=false&key=AIzaSyBLEWKx0sXyol82v5OlEO83_75VWl6dpq8", alt: "", class: "img-thumbnail"
      %div.tab-pane.fade#software_status_stats
        %br
        %div.row
          - HardwareStatus.all.order(:id).each do |hws|
            .col-md-3= render partial: "shared/model_property", locals: {bg_color: "status-#{hws.name}", icon: "", label: t("hardware_status.#{hws.name}"), value: software.hardwares.where(hardware_status_id: hws.id).count}
        