%div.row
	%div.col-md-12
		%div.page-header
			%h1
				%i.fa.fa-code
				= t('.title')
				- if can? :manage, Software
					= link_to_icon t('.link_new'), new_software_path, "fa fa-plus", class: "btn btn-success btn-xs"

%div.row
	%div.col-md-12
		%table.table
			%thead
				%tr
					%th= t('activerecord.attributes.software.name')
					%th= t('activerecord.attributes.software.released_on')
					%th= t('activerecord.attributes.software.description')
					%th= t('n_hardware')

			- @softwares.each do |software|
				%tr
					%td= link_to software.name, software
					%td= software.released_on
					%td!= RedCloth.new(software.description).to_html
					%td= software.hardwares.count
