%div.row
  %div.col-md-12
    %div.page-header
      %h1
        %i.fa.fa-code
        = @software.name
        - if can? :manage, Software
          = link_to_icon t('edit'), edit_software_path(@software), "fa fa-pencil", class: "btn btn-primary btn-xs"
          = link_to_icon t('destroy'), @software, "fa fa-trash-o", class: "btn btn-danger btn-xs", :method => :delete, :data => { :confirm => t('are_you_sure') }

%div.row
  %div.col-md-6
    = render partial: "shared/model_property", locals: {bg_color: "", icon: "fa-download", label: t('activerecord.attributes.software.released_on'), value: @software.released_on}
  %div.col-md-6
    = render partial: "shared/model_property", locals: {bg_color: "", icon: "fa-info-circle", label: t('activerecord.attributes.software.description'), value: RedCloth.new(@software.description).to_html, escape_html: true}

= render partial: "hardware_list", locals: {software: @software}

= render partial: "datatable_translations"