%div.row
	%div.col-md-12
		%div.page-header
			%h1
				%i.fa.fa-sign-in
				= t('.title')

= bootstrap_form_for(resource, :as => resource_name, :url => session_path(resource_name), style: :horizontal) do |f|
	= f.email_field :email, autofocus: true, label: t('.email')
	= f.password_field :password, label: t('.password')

	= f.form_group do
		- if devise_mapping.rememberable?
			= f.check_box :remember_me, label: t('.remember_me')
		
	= f.form_group do
		= f.submit t('.title')
		= render "devise/shared/links"
