%div.row
  %div.col-md-12
    %div.page-header
      %h1
        %i.fa.fa-users
        = t('.title')
        - if can? :manage, StakeholderGroup
          = link_to_icon t('.link_new'), new_stakeholder_group_path, "fa fa-plus", class: "btn btn-success btn-xs"

%div.row
  %div.col-md-12
    %table.table
      %thead
        %tr
          %th= t('activerecord.attributes.stakeholder_group.name')
          %th= t('.n_stakeholders')
          %th

      - @stakeholder_groups.each do |stakeholder_group|
        %tr
          %td= stakeholder_group.name
          %td= stakeholder_group.stakeholders.count
          %td
            - if can? :manage, StakeholderGroup
              = link_to_icon t('edit'), edit_stakeholder_group_path(stakeholder_group), "fa fa-pencil", class: "btn btn-primary btn-xs"
              = link_to_icon t('destroy'), stakeholder_group, "fa fa-trash-o", class: "btn btn-danger btn-xs", :method => :delete, :data => { :confirm => t('are_you_sure') }