// Place all the styles related to the facilities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map_facility_form {
	height: 400px;
}

.static-map {
	margin-top: 20px;
}