// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
	
.alert {
	margin-top: 20px;
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  //background-color: #eee;
  width: 100%;
  margin-top: 20px; // accommodate the navbar\
	padding-bottom: 80px;
  }
section {
  @extend .row;
  margin-top: 20px;
  }

// Google Maps navigation tools fix
#map_facility_form img, #map_dashboard img { 
  max-width: none;
}

.gmaps-info {
  width: 300px;
}

#map_facility_form label { 
  width: auto; display:inline; 
}

.form-inline-text {
	padding-top: 7px;
}

.date-col {
	min-width: 100px;
}

.action-links {
	height: 49px;
	margin-top: 9px;
}

// Hardware Status 
.status-production {
	@extend .alert-success;
}

.status-development {
	@extend .alert-info;
}

.status-stock {
	@extend .alert-warning;
}

.status-out_of_order {
	@extend .alert-danger;
}

// Overwrite bootstrap
.page-header {
	margin-top: 0px;
}

.dataTables_filter label input {
  @extend .form-control;
}

.dataTables_length label select {
  @extend .form-control;
}

#datatables_translations {
  display: none;
}