// Place all the styles related to the stakeholders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//= require jquery.ui.slider

.slider-container {
  padding-top: 12px;
}

.slider a {
  text-align: center;
}

#sh_graph-container.affix-top {
  position: static;
  margin-top:5px;
}
  
#sh_graph-container.affix {
  position: fixed;
  top:5px;
}