%p= "#{t('.hello', locale: I18n.locale)} #{@resource.email}!"

%p= t('.msg', locale:  I18n.locale)

= link_to t('.change_password', locale: I18n.locale), edit_password_url(@resource, :reset_password_token => @token, locale: I18n.locale)