= bootstrap_form_for(@hardware, style: :horizontal) do |f|
	= f.text_field :code
	= f.text_field :bought_on, class: "datepicker"
	= f.text_field :inventory_on, class: "datepicker"
	= f.select :software_id, options_from_collection_for_select(Software.order(released_on: :desc,), :id, :name, @hardware.software_id), include_blank: true
	= f.select :facility_id, options_for_select(current_user.authorized_facilities_grouped_select_options, @hardware.facility_id), include_blank: true
	= f.select :hardware_status_id, options_for_select(translate_hws_options_for_select(HardwareStatus.options_for_select), @hardware.hardware_status_id), include_blank: true
	= f.text_field :brand
	= f.text_field :model
	= f.text_field :color
	= f.text_field :configuration
	= f.text_field :kind
	= f.form_group do
		= f.submit t('save')
		= link_to t('cancel'), @hardware.id ? @hardware : hardwares_path
