%br
%table.table#hardware_table{"data-source" => hardwares_url(format: "json")}
  %thead
    %tr
      %th= t('activerecord.attributes.hardware.code')
      %th= t('activerecord.attributes.hardware.facility_id')
      %th= t('activerecord.attributes.hardware.hardware_status_id')
      %th= t('activerecord.attributes.hardware.software_id')
      %th= t('last_follow_up')
  %tbody