- action_links = [link_to_icon(t('edit'), edit_hardware_hardware_followup_path(ff.hardware, ff), "fa fa-pencil", class: "btn btn-primary btn-xs"), link_to_icon(t('destroy'), [ff.hardware, ff], "fa fa-trash-o", class: "btn btn-danger btn-xs", :method => :delete, :data => { :confirm => t('are_you_sure') })]
%tr
  %td
    %div.row
      .col-md-3
        = render partial: "shared/model_property", locals: {bg_color: "alert-warning", icon: "fa-calendar", label: t('activerecord.attributes.hardware_followup.followup_on'), value: ff.followup_on}
        = render partial: "shared/model_property", locals: {bg_color: "", icon: "fa-user", label: t('activerecord.attributes.hardware_followup.user_id'), value: ff.user_name}
      .col-md-9= render partial: "shared/model_property", locals: {bg_color: "hwf-desc", icon: "fa-info-circle", label: "Description", value: RedCloth.new(ff.description).to_html, escape_html: true}
      .col-md-3= render partial: "shared/model_property", locals: {bg_color: "alert-info", icon: "fa-laptop", label: t('activerecord.attributes.hardware.code'), value: link_to(ff.hardware_code, ff.hardware)}
      .col-md-3= render partial: "shared/model_property", locals: {bg_color: "alert-info", icon: "fa-hospital-o", label: t('activerecord.attributes.hardware.facility_id'), value: ff.facility_name}
      .col-md-3= render partial: "shared/model_property", locals: {bg_color: "alert-info", icon: "fa-flag", label: t('activerecord.attributes.hardware.hardware_status_id'), value: t("hardware_status.#{ff.status_name}")}
      - if can? :manage, ff
        .col-md-3= render partial: "shared/action_links", locals: {bg_color: "", icon: "fa-code", label: "Actions", links: action_links}
