%div.row
  %div.col-md-12
    %div.page-header
      %h1
        %i.fa.fa-laptop
        = t('.title')
        - if can? :create, Hardware
          = link_to_icon t('.link_new'), new_hardware_path, "fa fa-plus", class: "btn btn-success btn-xs"

%div.row
  %div.col-md-12
    %ul.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", href: "#hardware_list"}
          = t('.hardware_list')
      %li
        %a{"data-toggle" => "tab", href: "#latest_followups"}
          = t('.latest_followups')
          
    %div.tab-content
      %div.tab-pane.fade.in.active#hardware_list
        = render partial: "hardware_list"

      %div.tab-pane.fade#latest_followups
        = render partial: "latest_followups"

= render partial: "shared/datatables_translations", locals: {asset: t("datatables.hardware"), assets: t("datatables.hardwares"), followup: t("datatables.followup"), followups: t("datatables.followups")}