%div.row
	%div.col-md-12
		%div.page-header
			%h1
				%i.fa.fa-laptop
				= @hardware.code
				- if can? :manage, Hardware
					= link_to_icon t('edit'), edit_hardware_path(@hardware), "fa fa-pencil", class: "btn btn-primary btn-xs"
					= link_to_icon t('destroy'), @hardware, "fa fa-trash-o", class: "btn btn-danger btn-xs", :method => :delete, :data => { :confirm => t('are_you_sure') }
			
%div.row
	%div.col-sm-4
		= render partial: "shared/model_property", locals: {bg_color: "alert-info", icon: "fa-hospital-o", label: t('activerecord.attributes.hardware.facility_id'), value: @hardware.facility.name}
	%div.col-sm-4
		= render partial: "shared/model_property", locals: {bg_color: "alert-info", icon: "fa-flag", label: t('activerecord.attributes.hardware.hardware_status_id'), value: t("hardware_status.#{@hardware.hardware_status.name}")}
	%div.col-sm-4
		= render partial: "shared/model_property", locals: {bg_color: "alert-info", icon: "fa-code", label: t('activerecord.attributes.hardware.software_id'), value: @hardware.software.name}
	%div.col-sm-4
		= render partial: "shared/model_property", locals: {bg_color: "", icon: "fa-euro", label: t('activerecord.attributes.hardware.bought_on'), value: @hardware.bought_on}
	%div.col-sm-4
		= render partial: "shared/model_property", locals: {bg_color: "", icon: "fa-apple", label: t('activerecord.attributes.hardware.brand'), value: @hardware.brand}
	%div.col-sm-4
		= render partial: "shared/model_property", locals: {bg_color: "", icon: "fa-square", label: t('activerecord.attributes.hardware.color'), value: @hardware.color}
	%div.col-sm-4
		= render partial: "shared/model_property", locals: {bg_color: "", icon: "fa-file-text", label: t('activerecord.attributes.hardware.inventory_on'), value: @hardware.inventory_on}
	%div.col-sm-4
		= render partial: "shared/model_property", locals: {bg_color: "", icon: "fa-certificate", label: t('activerecord.attributes.hardware.model'), value: @hardware.model}
	%div.col-sm-4
		= render partial: "shared/model_property", locals: {bg_color: "", icon: "fa-laptop", label: t('activerecord.attributes.hardware.kind'), value: @hardware.kind}
	%div.col-sm-12
		= render partial: "shared/model_property", locals: {bg_color: "", icon: "fa-info-circle", label: t('activerecord.attributes.hardware.configuration'), value: @hardware.configuration}
					
= render partial: "hardware_followups/index", locals: {hardware: @hardware}
