%a.dropdown-toggle{href: "#", "data-toggle" => "dropdown"}
	%i.fa.fa-globe
	= t(Language.current)
	%b.caret
%ul.dropdown-menu
	- Language.all.each do |l|
		%li= link_to t(l.name), locale: l.name unless I18n.locale == l.name.to_sym