%nav.navbar.navbar-default.navbar-inverse{role: "navigation"}
	%div.container-fluid
		%div.navbar-header
			%button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
				%span.sr-only Toggle navigation
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			= link_to t('app_name'), dashboard_path, class: 'navbar-brand'
		%div.collapse.navbar-collapse
			- if user_signed_in?
				%ul.nav.navbar-nav
					= render 'layouts/navigation_links'
			%ul.nav.navbar-nav.navbar-right
				%li.dropdown
					= render partial: "layouts/language_selection"
				- if user_signed_in?
					%li.dropdown
						= render partial: "layouts/user_menu"