%li{class: controller_name == "facilities" ? "active" : "	"}= link_to_icon t('navbar.facilities'), facilities_url, "fa fa-hospital-o"
%li{class: controller_name == "hardwares" ? "active" : "	"}= link_to_icon t('navbar.hardware'), hardwares_url, "fa fa-laptop"
%li{class: controller_name == "softwares" ? "active" : "	"}= link_to_icon t('navbar.software'), softwares_url, "fa fa-code"
%li.dropdown
  %a.dropdown-toggle{href: "#", "data-toggle" => "dropdown"}
    = t('navbar.stakeholders')
    %b.caret
  %ul.dropdown-menu
    %li{class: controller_name == "stakeholders" ? "active" : "	"}= link_to_icon t('navbar.stakeholder_mapping'), stakeholders_path, "fa fa-picture-o"
    %li.divider
    %li{class: controller_name == "stakeholder_groups" ? "active" : "	"}= link_to_icon t('navbar.stakeholder_groups'), stakeholder_groups_path, "fa fa-users"