%a.dropdown-toggle{href: "#", "data-toggle" => "dropdown"}
	= current_user.name
	%b.caret
%ul.dropdown-menu
	%li= link_to_icon t('navbar.users'), users_path, "fa fa-users"
	%li.divider
	%li= link_to_icon t('navbar.logout'), destroy_user_session_path, 'fa fa-sign-out', confirm: t('are_you_sure'), :method => :delete