!!!
%html{lang: I18n.locale}
	%head
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
		%title= content_for?(:title) ? yield(:title) : 'IeDA HQ'
		%meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'IeDA HQ'}"}
		= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
		= javascript_include_tag "application", params[:controller], "data-turbolinks-track" => true
		= csrf_meta_tags
	%body
		%main{:role => "main"}
			.row
				.col-md-8.col-md-offset-2
					%header
						= render 'layouts/navigation'
					= render 'layouts/messages'
					= yield
